/* Resets */

* {
	box-sizing: border-box;
}

html {
	font-size: 99% !important;
	height: 100%;
}

body {
	font-family: monospace;
	word-wrap: break-word;
	height: 100%;
}

html,
body,
form {
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
	padding: 0;
	margin: 0.1rem 0;
}

a {
	text-decoration: none !important;
	outline: none;
}

a:link img {
	border: none;
}

button {
	padding-top: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 5000s ease-in-out 0s;
}

input:invalid {
	box-shadow: none;
}

input:focus {
	outline: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

video {
	width: 100% !important;
	height: auto !important;
}

iframe {
	width: 100% !important;
}
