/* Shadows */

.base-shadow-transition {
	-moz-transition: box-shadow 0.2s;
	-o-transition: box-shadow 0.2s;
	-webkit-transition: box-shadow 0.2s;
	transition: box-shadow 0.2s;
}

.shadow1 {
	box-shadow: 0 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.1), 0 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.1);
}

.shadow2 {
	box-shadow: 0 0.2rem 1.0rem 0 rgba(0, 0, 0, 0.10), 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.20);
}

.shadow3 {
	box-shadow: 0 0.4rem 1.8rem 0 rgba(0, 0, 0, 0.2), 0 0.6rem 1.4rem 0 rgba(0, 0, 0, 0.2);
}

.shadow4 {
	box-shadow: 0 2rem 4.2rem 0 rgba(0, 0, 0, 0.15), 0 1.2rem 2.3rem 0 rgba(0, 0, 0, 0.20);
}

/* Card */

.card {
	min-height: 19rem;
	padding: 1rem;
	margin-bottom: 1rem;
	border-radius: 0.2rem;
	box-shadow: 0 0.2rem 1rem 0 rgba(0, 0, 0, 0.16), 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.26);
	overflow: hidden;
}

@media (max-width: 767px) {
	.card {
		padding: 0.5rem;
	}
}

.card .title {
	margin-bottom: 1rem;
	padding: 0.5rem;
}

.card .title span {
	font-size: 2.5rem;
}

.card .content {
	padding: 0.5rem;
}

.card img {
	transition: transform 0.25s ease;
	cursor: pointer;
	max-width: 400px;
}

.card .img-active {
    transform: scale(2);
    position: fixed;
    top: 25%;
	z-index: 9999;
	left: 39.2%;
}

@media (max-width: 1024px) {
	.card .img-active  {
		left: 30.5%;
	}
}

@media (max-width: 768px) {
	.card .img-active  {
		left: 200px;;
	}
}

.lightbox {
    position: fixed;
    z-index: 8000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
}
