body {
	background:#3E394F;
	margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.content p {
	font-size: 1.7em;
	text-align: center;
}

.content div {
	font-size: 1.7em;
}

#container {
	width: 800px;
}

#container #header {
	height: 150px;
	padding: 15px 0;
}

#container .card {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: hsla(0,0%,100%,0.85);
    background-blend-mode: overlay;
}

#container .card .title {
	font-weight: bold;
	color: #3E394F;
}

#container #et {
	background-image: url(../assets/et.jpg);
}

#container #valhalla {
	background-image: url(../assets/valhalla.jpg);
}

#container #war {
	background-image: url(../assets/woe.jpg);
}

#container #guides {
	background-image: url(../assets/guides.jpg);
}

#container #rules {
	background-image: url(../assets/rules.jpg);
}
