/* Flow */

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.clearfix {
	clear: both;
	height: 0;
	overflow: hidden;
}

.center-block {
	margin: 0 auto;
	padding: 0;
}

.display-block {
	display: block;
}

.display-inline-block {
	display: inline-block;
}

.display-table {
	display: table;
	height: inherit;
}

.display-table-cell {
	display: table-cell;
}

.display-none {
	display: none;
}

/* Alignment */

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.align-justify {
	text-align: justify;
}

.valign-middle {
	vertical-align: middle;
}

.parent-height {
	height: inherit;
}

.parent-width {
	width: inherit;
}


/* Text styling */

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.underline {
	text-decoration: underline;
}
